* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    font-weight: normal;
    position: relative;
}
.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.container {
    width: 90%;
    display: block;
    margin: auto;
}
.header_container {
    background: transparent linear-gradient(270deg, #00A7CC 0%, #334B80 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}
.header_content {
    padding: 15px 10px;
    display: flex;
}
.header_img {
    max-width: 180px;
    vertical-align: middle;
}
.header_img img {
    width: 100%;
}
.header_txt {
    padding: 60px 0 0 60px;
    font-size: 60px;
    line-height: 1.2;
}
.header_txt strong {
    font-weight: bolder;
}
.header_txt span {
    font-weight: 500;
}
section {
    display: block;
    width: 95%;
    margin: auto;
    padding: 10px 15px;
}
.list_container {
    display: flex;
    flex-wrap: wrap;
}
.list_container .left_cont {
    width: 66.66666%;
    padding: 0 5px;
}
.list_container .right_cont {
    width: 33.33333%;
    padding: 0 10px;
}
.top_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.top_list li {
    flex: 1;
    padding: 20px;
}
.top_list li img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: 150px;
    margin-bottom: 5px;
}
.top_list li h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
}
.top_list li h3 strong {
    font-weight: bolder;
}
.advantages {
    width: 100%;
    margin-top: 15px;
}
.advantages h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.adv_list {
    width: 100%;
    list-style: none;
}
.adv_list_item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.adv_list_item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.adv_list_item p {
    font-size: 17px;
    font-weight: 400;
    color: #212529;
    line-height: 1.25;
}
.form_container {
    width: 100%;
    float: left;
    background: #fff;
    padding: 16px;
    border-radius: 15px;
    margin-top: -320px;
    height: 800px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15)!important;
}
.form_container form {
    padding: 15px;
}
.form_container form h5 {
    font-size: 16px;
    font-weight: 500;
    color: #0094B5;
    margin-bottom: 20px;
}
.form_container p {
    font-size: 12px;
    font-weight: 500;
    color: #0094B5;
    text-align: center;
}
.form_group {
    width: 100%;
    margin-bottom: 20px;
}
.form_group label {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    display: inline-block;
    margin-bottom: 10px;
}
.form_group input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
}
.form_group input:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    border-color: #80bdff;
}
.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.button button {
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 4px;
    background: #0094B5 !important;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}
.gym_list_container {
    display: block;
    width: 95%;
    margin: auto;
    padding: 0 15px 20px;
}
.gym_list_container h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.gym_list {
    display: flex;
    list-style-type: none;
}
.gym_list_item {
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 1px solid #e4e5e9;
    border-radius: 4px;
    margin-right: 10px;
}
.gym_list_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}