.body {
    padding: 2rem;
    margin-top: 4rem;
    width: 100%;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.mi1{
    width: 50%;
    margin: auto;
}
.mar2   {
    margin-top: 1rem;
}
.ggap{
    column-gap: 0px;
}
.fim {
    float: left;
    height: 200px;
    width: 200px;
}
.bim img{
    width: 15%;
    height: auto;
    margin-right: 5%;
}
.bmg{
    margin-left: 100px;
}

.mi2{
    margin-top: 40px;
}