body {
    background: #eeeeee;
}

.sb1 {
    height: 50vh;
    background-color: #D9E4F2;
    color: #0A2249;
}

.ti1 {
    padding: 10%;
    padding-top: 5%;
}

.p1 {
    padding-bottom: 2rem;
}

.ti1 h1 {
    font-size: 3rem;
}

.fr1 input {
    width: 100%;
    height: 3rem;
}

.bt1 {
    border: none;

}

.sb2 {
    padding-top: 10rem;
}


.btz {
    padding-bottom: 10rem;
}

.smwt {
    height: 25rem;
    background: white;
}

.tss {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;

}



/* cards */

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card p{
    color: black;
    font-weight: 100;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.25), -1px -1px 10px 1px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.mtet{
    padding-top:5rem;
    text-align: center;
    height: 70vh;
}

.sith img{
 width: 70%;
 padding-bottom: 2rem;
}
.sb4{
    background-color: #D9E4F2;
    height: 45vh;
    margin-top: 100px;
    padding-top: 40px;
    padding-left:20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.pyim{
    padding-top: 1rem;
}
.pyim img{
    width: 15%;
}
.pyim img:hover{
    cursor: pointer;
}

.sb5{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.imh img{
    width: 99%;
}
.sb5t{
    padding-top: 2rem;
    margin-left: 2rem;
}

.mar{
    padding-top: 5rem ;
}
.im1 img{
    width: 90%;
}
.mar1{
    padding-top: 7rem;
}

.smwt1 {
    height: 24rem;
    background: white;
}
.drd1{
    padding-top: 2rem;
    padding-left: 5rem;
}

.mard{
    padding-bottom: 20px;
}

.smwt2 {
    height: 22rem;
    background: white;
}

.imh{
    padding-top: 3rem;
}
.imh2{
    padding-top: 3rem;
}